<div class="jumbotron jumbotron-fluid">
  <class class="container">
    <h1 class="header" id="pageType">Project Task Summary</h1>
    <h2 class="subheader" id="project">{{this.projectName}}</h2>
    <h2 class="subheader" id="student">{{this.studentName}}</h2>
    <h2 class="subheader" id="status">{{this.status}}</h2>
    <h2 class="hidden" id="project-id">{{this.project_id}}</h2>
    <h2 class="hidden" id="student-id">{{this.student_id}}</h2>
    <h2 class="subheader" id="time-log" style="font-size: large;"></h2>
    <h2 class="hidden" id="hidden-id">{{this.project_id}}</h2>
    <h2 class="hidden" id="isUpdate">{{this.update}}</h2>
    {{#if this.logId}}
    <h2 class="subheader" id="logId">Record# {{this.logId}}</h2>
    <h2 class="hidden" id="hidden-logId">{{this.logId}}</h2>
    {{/if}}
    {{#unless this.cntPrj}}
    {{> capacity}}
    {{/unless}}
</div>
{{> entry-key}}
{{>hidden-message}}
<div class="table-container">
  <table class="table table-striped">
    <thead>
      {{#if this.projectName.length}}
        {{> task}}
      {{else if this.studentName.length}}
        {{> task}}
      {{else}}
        {{> task_list}}
      {{/if}}
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

{{#if this.update}}
<script src="assets/js/update_task.js" type="text/javascript"></script>
{{else if this.projectName.length}}
<!-- Custom Script -->
<script src="assets/js/task.js" type="text/javascript"></script>
{{else if this.studentName.length}}
<script src="assets/js/task.js" type="text/javascript"></script>
{{else if this.status.length}}
<script src="assets/js/task_status.js" type="text/javascript"></script>
{{else}}
<!-- Custom Script -->
<script src="assets/js/task_list.js" type="text/javascript"></script>
{{/if}}

<script type="text/javascript">
    function requestorStudentDropdown() {
    console.log("Requesting Student Requestors Dropdown");
    var studentInput = $("#inputGroupRequestor");
    // For loop that gets all students and dynamically creates list in the html for the respective projects.
      $.get("/api/drop/requestors2", function (data) {
          for (var i = 0; i < data.length; i++) {
                  let dropdown = $("<option>").attr("value", data[i].student_id).text(data[i].studentName);
                  studentInput.append(dropdown);
          }
      })
  };

  requestorStudentDropdown()

    // works but I should ask whether this should be pulled from a table or just a manual entry. Are GS in charge of entering tasks? Are staff? Can anyone?
  // for now the faculty section is commented out. This may only be functional for certain people and hardcoded?

  function requestorFacultyDropdown() {
    console.log("Requesting Faculty Requestors Dropdown");
    var facultyInput = $("#inputGroupRequestor");
    // For loop that gets all students and dynamically creates list in the html for the respective projects.
      $.get("/api/drop/requestors1", function (data) {
          for (var i = 0; i < data.length; i++) {
                  let dropdown = $("<option>").attr("value", data[i].faculty_id).text(data[i].facultyName);
                  facultyInput.append(dropdown);
          }
      })
  };

  requestorFacultyDropdown()
  
</script>